@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Tajawal", sans-serif;
  }
}

/* Utility classes for specific font weights */
.tajawal-extralight { font-weight: 200; }
.tajawal-light { font-weight: 300; }
.tajawal-regular { font-weight: 400; }
.tajawal-medium { font-weight: 500; }
.tajawal-bold { font-weight: 700; }
.tajawal-extrabold { font-weight: 800; }
.tajawal-black { font-weight: 900; }

/* RTL Fixes for Chakra UI */
[dir="rtl"] .chakra-input__right-element {
  right: auto;
  left: 0;
}

[dir="rtl"] .chakra-input__left-element {
  left: auto;
  right: 0;
}

[dir="rtl"] .chakra-select__icon-wrapper {
  right: auto;
  left: 0.5rem;
}

[dir="rtl"] .chakra-select {
  padding-right: 1rem;
  padding-left: 2rem;
}

[dir="rtl"] .chakra-input {
  text-align: right;
}

[dir="rtl"] .chakra-number-input input {
  text-align: right;
}